---
interface Props {
  name: string;
  description: string[];
  image: string;
  reverse: boolean;
}
const { name, image, reverse, description } = Astro.props;
import SectionTitle from "../SectionTitle/SectionTitle.astro";
import "./style.less"
---

<div class="about-card" id={reverse ? "anais-card" : "mauricio-card"}>
  <div class="image"><img src={image} alt="Se supone que aquí debería ir una foto de perfil." loading="lazy"/></div>
  <div class="description">
    {!reverse ? <div class="conditional-title-viewport">
      <SectionTitle title="Sobre nosotros" id="about-title-lg"/>
    </div> : ""}
    <h3 data-text={name}>{name}</h3>
    {description.map((paragraph)=>{
      return (
        <p data-text={paragraph}>{paragraph}</p>
        <br/>
      )
    })}
  </div>
</div>

<script>
  import "./script.js"
</script>


